<div class="login">
    <div class="login__container">
        <div class="login__title">
            <h2 class="login__heading">Login</h2>
            <p class="login__sub-heading">Login to continue</p>
        </div>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" class="login__body">
            <mat-form-field>
                <input matInput type="text" placeholder="Username">
                <mat-icon matPrefix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <div>
                <button class="login__btn" type="submit"  value="Login">Login</button>
            </div>
        </div>
    </div>
</div>