.btn-blue {
        background: linear-gradient( to right, #0849ff 50%, rgba(#0849ff, 0.5));
        border: none;
        color: #fff;
        padding: 10px 15px;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s;
        /*box-shadow: 0px 10px 30px rgba(#0849ff, .3); */

        &:hover{
           background: linear-gradient( to right, #0849ff 50%, rgba(#0849ff, 0.6)); 
        }

        &:focus {
            outline: none;
            transform: translateY(2px);
        }

        &--full-length {
            display:inline-block;
            width: 100%;
        }

        &--large {
            padding: 15px 20px;
        }

        &--shadow {
            box-shadow: 0px 10px 50px rgba(#0849ff, .4);
        }

}