.side-menu {
    &__content {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    &__link, &__link:visited {
        padding: 5px 10px;
        display: block;
        text-decoration: none;
        font-weight: 400;
        color: rgba(17, 17, 17, 0.8);
        text-align: left;
    }


    &__item.active &__link {
        color: #0849ff;
    }

    

    &__link-icon {
        margin-right: 10px;
        color: rgba(17, 17, 17, 0.8);
    }
    
    &__item.active &__link-icon {
        color: #0849ff;
    }
    
}
