<aside class="side-menu">
    <ul class="side-menu__content" fxLayout="column">
        <li class="side-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a mat-button routerLink="/dashboard" class="side-menu__link"><mat-icon class="side-menu__link-icon">dashboard</mat-icon>Dashboard</a></li>
        <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/dashboard/tables" class="side-menu__link"><mat-icon class="side-menu__link-icon">table_chart</mat-icon>Tables</a></li>
        <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/dashboard/forms" class="side-menu__link"><mat-icon class="side-menu__link-icon">insert_comment</mat-icon>Forms</a></li>
        <li class="side-menu__item" routerLinkActive="active"><a mat-button routerLink="/login" class="side-menu__link"><mat-icon class="side-menu__link-icon">exit_to_app</mat-icon>Logout</a></li>
    </ul>
</aside> 
        