<mat-toolbar>Typography</mat-toolbar>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>display-4</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> display-4</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Large, one-off header, usually at the top of the page</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-display-1</p>
            <h1 class="mat-display-1">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>display-3</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> display-3</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> 	Large, one-off header, usually at the top of the page</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-display-3</p>
            <h1 class="mat-display-3">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>display-2</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> display-2</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> 	Large, one-off header, usually at the top of the page</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-display-2</p>
            <h1 class="mat-display-2">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>display-1</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> display-1</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Large, one-off header, usually at the top of the page</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-display-1</p>
            <h1 class="mat-display-1">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>headline</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span>headline</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Section heading corresponding to the &lt;h1&gt; tag.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-h1, .mat-headline</p>
            <h1 class="mat-h1">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>title</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> title</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Section heading corresponding to the &lt;h2&gt; tag.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-h2, .mat-title</p>
            <h1 class="mat-h2">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>subheading-2</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> subheading-2</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Section heading corresponding to the &lt;h3&gt; tag.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-h3, mat-subheading-2</p>
            <h1 class="mat-h3">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>subheading-1</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> subheading-1</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Section heading corresponding to the &lt;h4&gt; tag.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-h4, .mat-subheading-1</p>
            <h1 class="mat-h4">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>body-1</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> body-1</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Base body text.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-body, .mat-body-1</p>
            <h1 class="mat-body">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>body-2</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> body-2</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Bolder body text.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-body-strong, .mat-body-2</p>
            <h1 class="mat-body-2">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>
<section class="section-typography">
    <app-ui-card>
        <app-ui-card-header>
            <app-ui-card-header-title>caption</app-ui-card-header-title>
        </app-ui-card-header>
        <app-ui-card-body>
            <p><span class="mat-body-2">Name:</span> caption</p>
            <p class="mat-body-1"><span class="mat-body-2">description:</span> Smaller body and hint text.</p>
            <p class="mat-body-1"><span class="mat-body-2">Css class name:</span> .mat-small, .mat-caption</p>
            <h1 class="mat-small">Lorem Ipsum is simply dummy text</h1>
        </app-ui-card-body>
    </app-ui-card>
</section>