.simple-table {
    margin-top: 5px;
    padding:10px 20px;

    table {
        width: 100%;
        min-width: 600px;
    }
}

.advanced-table {
    margin-top: 5px;
    padding:10px 20px;

    table {
        width: 100%;
        min-width: 600px;
    }    
}

.table-container {
    overflow: auto;
}