.simple-table {
    margin-top: 5px;
    padding:10px 20px;

    table {
        width: 100%;
    }
}

.advanced-table {
    margin-top: 5px;
    padding:10px 20px;

    table {
        width: 100%;
    }    
}